@import "vars";
@import "helpers";
@import "colors";
@import "views/bargraph";
@import "views/launchstate";
@import "views/graphrenderer";
@import "views/cardpool";
@import "views/card";


* {
    box-sizing: border-box;
}

html {
    font-size: $base-font-size;
    font-family: Helvetica, Arial, sans-serif;
    color: color(black);
}
