.card {
    width: size(6);
    padding: size(0);

    border: 1px solid color(black);

    &.selected {
        border-color: color(green);
        box-shadow: 0 0 10px color(green);
    }
}

.card__title {
    font-size: size(0);
}
